/* productos */

:root {
    --white: #fff;
    --gris: #222222ff;
    --gris-texto: #363636ff;
    --dorado: rgba(177, 153, 22, 0.842);
    --beish: #440000; 
}

.productos {
    display: grid;
    grid-template-areas: 
        "titulo titulo titulo titulo"
        "categorias listado listado listado"
        "categorias listado listado listado";

    height: auto;
    padding: 20px 20px;
    text-align: center;
    gap: 30px;

    background-image: linear-gradient(to left bottom, #604e4e, #7f6864, #9e847b, #bda291, #dac1a9, #e7ceb1, #f3dcb9, #ffeac1, #ffe8ba, #ffe5b2, #ffe3ab, #ffe0a4);
}

.lista-categorias {
    grid-area: categorias;
    border-radius: 8px;
    background-color: #fff;
    padding: 40px 40px;
}

.lista-categorias ul {
    list-style: none;
}

.lista-categorias .principal {
    font-size: 20px;
    text-align: left;
}

.lista-categorias .principal > li {
    margin-bottom: 40px;
}

.lista-categorias .principal li > ul {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 30px;
}

.lista-categorias .principal li > ul li {
    cursor: pointer;
    font-style: oblique;
    margin-top: 3px;
    transition: all .7s;
}

.lista-categorias .principal li > ul li:hover {
    color: #2c0000;
    transition: all .7s;
} 



.productos>h1 {
    width: 100%;
    padding: 20px 30px;
    grid-area: titulo;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 4px;
    border-bottom: 1px solid black;
    text-align: left;
}

.productos-listados {
    grid-area: listado;
    height: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.producto {
    background-color: rgb(201, 201, 201);
}

.productos .img-producto {
    overflow: hidden;
    transition: all .7s;
}

.productos .img-producto:hover {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: rotateX(60deg);
    transform: scale(1.05);
    -webkit-box-shadow: 2px 3px 18px 0px rgba(60,60,60,3);
    -moz-box-shadow: 2px 3px 18px 0px rgba(60,60,60,3);
    box-shadow: 2px 3px 22px 0px rgba(60,60,60,3);
    transition: all .7s;
}

.producto .img-producto img {
    width: 100%;
    height: 100%
    ;
    object-fit: cover;
    object-position: center;
}

.descripcion {
    padding: ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.btn-comprar {
    opacity: 0;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: #440000;
    color: #fff;
    transition: opacity .8s;
}

.btn-comprar:hover {
    cursor: pointer;
}

.producto:hover .descripcion .btn-comprar{
    opacity: 1;
    transition: opacity .8s;
}

@media (max-width: 620px){
    .productos { 
        grid-template-areas: 
            "titulo"
            "listado"
        ;
    }
    .lista-categorias {
        display: none;
    }
    .productos-listados {
        gap: 5px;
    }
}

@media (max-width: 320px){

}